<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<TL_PoutLimit>
		<IgnoreCF>Parameter,SBIN,HBIN,DIE_X,DIE_Y,SITE,TIME,TOTAL_TESTS,LOT_ID,WAFER_ID,PassFail,TimeStamp,IndexTime,PartSN,SWBinName,HWBinName,2DID,Temperature,HandlerMisc,MFG_ID,OTP_MODULE_ID,SubLot</IgnoreCF>
		<DeltaValue>0.1</DeltaValue>
		<PoutLimitConditions>
			<IncludeRule>PT_POUT,FIXEDPOUT</IncludeRule>
			<ExcludeRule>P3DB,P2DB,P1DB,MAXGAIN,PIN</ExcludeRule>
		</PoutLimitConditions>
	</TL_PoutLimit>

	<GuPacakge>
		<GuCorr>
			<ADD>
				<Item>FixedPin,PT,-15DBM,POUT</Item>
				<Item>FixedPin,PR,-5DBM,POUT</Item>

				<Item>FixedPout,Pin</Item>
				<Item>FixedPout,ACLR</Item>
				<Item>FixedPout,H2</Item>
				<Item>FixedPout,Txleakage</Item>

				<Item>P1dB,Pin</Item>
				<Item>P2dB,Pin</Item>
				<Item>P3dB,Pin</Item>
				<Item>P1dB,Pout</Item>
				<Item>P2dB,Pout</Item>
				<Item>P3dB,Pout</Item>
				<Item>Pout_atPin</Item>

				<Item>Twotone,Pout</Item>
				<Item>Twotone,IM3</Item>
			</ADD>
			<Multiply>
				<Item>FixedPout,Icc</Item>
				<Item>P2dB,Icc</Item>
				<Item>P3dB,Icc</Item>
			</Multiply>
		</GuCorr>
		<GuBench>
			<Item>
				<Limit>0.2</Limit>
				<Include>P1DB,Pin</Include>
				<Include>P1DB,Pout</Include>
				<Include>P1DB,Gain</Include>
				<Include>Twotone,Pout</Include>
				<Include>Twotone,Gain</Include>
			</Item>
			<Item>
				<Limit>0.3</Limit>
				<Include>FixedPout,Gain</Include>
				<Include>P2DB,Pout</Include>
				<Include>P2DB,Gain</Include>
				<Include>P3DB,Pout</Include>
				<Include>P3DB,Gain</Include>
				<Include>Pout_atPin</Include>
				<Include>FixedPout,Pin</Include>
			</Item>
			<Item>
				<Limit>0.5</Limit>
				<Include>FixedPin,Pout</Include>
				<Include>FixedPin,Gain</Include>

				<!-- <Exclude>-5dBm</Exclude> -->
				<Exclude>Twotone</Exclude>
				<Exclude>RXGAINSW</Exclude>
				<Exclude>RXENABLE</Exclude>
				<Exclude>_RXSW</Exclude>
				<Exclude>_TDDTRXSW</Exclude>
				<Exclude>_TXSW</Exclude>
				<Exclude>_TXENABLE</Exclude>
				<Exclude>_ANTTOTHRU</Exclude>
				<Exclude>_PA-MODE</Exclude>
				<Exclude>_PA-BIAS</Exclude>
			</Item>
			<!-- <Item> -->
				<!-- <Limit>1</Limit> -->
				<!-- <Include>FixedPin,-5dBm,Pout</Include> -->
				<!-- <Include>FixedPin,-5dBm,Gain</Include> -->
			<!-- </Item> -->
			<Item>
				<Limit>1.5</Limit>
				<Include>IIP3</Include>
				<Exclude>G3</Exclude>
				<Exclude>G4</Exclude>
				<Exclude>G5</Exclude>
			</Item>
			<Item>
				<Limit>1.5</Limit>
				<Include>Txleakage</Include>
			</Item>
			<Item>
				<Limit>2</Limit>
				<Include>H2</Include>
				<Include>ACLR</Include>
			</Item>
			<Item>
				<Limit>2.5</Limit>
				<Include>IIP3,G3</Include>
				<Include>IIP3,G4</Include>
				<Include>IIP3,G5</Include>
			</Item>
		</GuBench>
	</GuPacakge>
</Settings>